<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Registro de Talla</title>
<div th:replace="Footer.html"></div>
<div class="container">
	<h1>Registro de Talla</h1>
	<br> <br>
	<form th:action="@{/tallas}" th:object="${talla}" method="POST"
		enctype="multipart/form-data">
		<div class="form-group" style="display: none;">
			<label for="id">ID:</label>
			<!-- Ocultar el label -->
			<input type="number" class="form-control" id="id" name="id" value="0"
				required>
		</div>

		<div class="form-group">
			<label for="medida">Medida:</label> <input type="text"
				class="form-control" id="medida" name="medida" required>
		</div>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>
</body>
</html>

