<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lista de Categorías</title>
    <!-- CSS only -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Control de Categorías</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/categorias}">Listar Categorias</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/categorias/nueva_categoria}">Crear Categoria</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Lista de Categorías</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Imagen</th>
        </tr>
        </thead>
        <tbody>
		<tr th:each="categoria : ${categorias}">
			
			<td th:text="${categoria.id}">ID</td>
			<td th:text="${categoria.nombre}">Nombre</td>
			<td>
				<img th:src="'data:image/jpeg;base64,' + ${categoria.getBase64(categoria.imagen)}" alt="Imagen de la categoría"
					width="170" height="170">
			</td>
			<td>
				<a th:href="@{/categorias/editar/{id}(id=${categoria.id})}" class="btn btn-info">Editar</a>
				<a th:href="@{/categorias/{id}(id=${categoria.id})}" class="btn btn-danger">Eliminar</a>
			</td>
			
			</tr>
			</tbody>
    </table>
</div>
</body>
</html>
